@model AppData.Entities.HangHoa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HangHoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHangHoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHangHoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrongLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KichThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KichThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemXuatPhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemXuatPhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaDiemGiaoHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaDiemGiaoHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiaoDuKien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiaoDuKien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChiPhiVanChuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChiPhiVanChuyen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
